<% cache comment do %>
  <li>
    Author name: <%= comment.author.name %><br/>
    Rating: <%= comment.rating %><br/>
    Author IP: <%= comment.author.ip %><br/>
    Description: <p><%= comment.description %></p>
  </li>
<% end %>
