<h1>Authors grouped by ip</h1>

<% begin %>
  <% @groups.each_key do |group| %>
    <h3><%= group %>:</h3>
    <ul id="authors">
      <% @groups[group].each do |author| %>
        <li><%= link_to author.name, author %></li>
      <% end %>
    </ul>
  <% end %>
<% rescue %>
  <h3>No have groups!</h3>
<% end %>
