<% cache @posts do %>
  <h1>Top 10 posts</h1>

  <p id="notice"><%= notice %></p>
  <%= link_to 'New Post', new_post_path, remote: true, id: :new_post %>
  <br/>
  <br/>
  <ul id='posts'>
    <%= render @posts %>
  </ul>
<% end %>
