// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#new_comment {
  background: #cfc;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  h1 {
    margin: 10px;
  }
}